* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
 nav{
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(156, 156, 156);
   color: black;
 }
 nav .logo{
   font-size: x-large;
   font-weight: bold;
   font-family: cursive;
 }
 .nav__link{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .nav__link a{
   text-decoration: none;
   margin:0 16px;
   color: black;
   font-weight: bold;
   font-family: cursive;
 }
  
  

 @media screen and (max-width: 733px) {
  nav {
      flex-direction: column;
  }

  .nav__link {
      flex-direction: column;
  }

  #buttons {
      margin: 6px 8px;
  }
}
@media screen and (max-width: 715px){
  .container3{
    margin: 4.5rem 0;
  }
  .box{
    flex-direction: column;
  }
}




 .btn{
    padding: 6px;
    margin-bottom: 10px;
    margin: 0 8px;
 }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 400px;
    }
    .modal-dialog .modal-content {
      padding: 1rem;
    }
  }
  .modal-header .close {
    margin-top: -1.5rem;
  }
  
  .form-title {
    margin: -2rem 0rem 2rem;
  }
  
  .btn-round {
    border-radius: 3rem;
  }
  
  .delimiter {
    padding: 1rem;
  }
  
  .social-buttons .btn {
    margin: 0 0.5rem 1rem;
  }
  
  .signup-section {
    padding: 0.3rem 0rem;
  }

.heading{
  text-align: center;
  margin-top: 1rem;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;flex-wrap: wrap;
}
.card{
  margin: 0 40px;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.box {
  max-width: 800px; /* Adjust the maximum width as needed */
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-bg {
    height: 40vh;
    width: 90vw;
}

.subbox {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add media queries for responsiveness */
@media (max-width: 600px) {
  .box {
      padding: 10px;
  }
}


.container-footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(48, 45, 45);
  color: white;
  padding-top: 12px;
  font-family: cursive;
}

.last-text{
  background-color: black;
  color: white;
  text-align: center;
}